--NICHOLAS SCHULER
--A11 PROCEDURE
--CIS31029


USE [CIS31029]
GO
/****** Object:  StoredProcedure [dbo].[PRC_NEW_RENTAL]    Script Date: 4/18/2015 9:54:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PRC_NEW_RENTAL] @MEM_NUM INT
AS
BEGIN

	DECLARE @MEMBERSHIP_NUM INT
	DECLARE @NEW_RENTAL_NUM INT
	
	SELECT @MEMBERSHIP_NUM = COUNT(*)
	FROM MEMBERSHIP
	WHERE MEM_NUM = @MEM_NUM

	IF @MEMBERSHIP_NUM = 0
		--DISPLAYS MESSAGE IF THE MEMBER NUM ENTERED DOES NOT EXIST
		PRINT 'MEMBER DOES NOT EXISTS'

	ELSE
		--TO DISPLAY MEMBER NUM AND THEIR BALANCE
		SELECT MEM_NUM,MEM_BALANCE AS [PREVIOUS BALANCE]
		FROM MEMBERSHIP
		WHERE MEM_NUM = @MEM_NUM

		--TO GET THE HIGHEST RENTAL NUMBER
		SELECT @NEW_RENTAL_NUM = MAX(RENT_NUM)
		FROM RENTAL

		--TO INSERT A NEW ROW INTO THE RENTAL TABLE TO SAY NEWLY RENTED. USING CURRENT DATE AND 
		--INPUTTED MEM_NUM
		INSERT INTO RENTAL 
		VALUES (@NEW_RENTAL_NUM +1 , GETDATE() , @MEM_NUM)
	
END
